/* Toute la page */

* {
    font-family: monospace;
}

body {
    min-width: 200px;
    width: 70%;
    margin: auto;
    background-color: rgb(116, 115, 115);
    /* color: rgb(234, 113, 37); */
}

/* Navigation */

nav a, nav a:visited {
    color: black;
    font-size: x-large;
}

nav li:hover, nav .current {
    background-color: black;
    
    box-shadow: 0px 0px 15px rgb(255, 255, 255)
}

nav li:hover a, nav .current a {
    color: rgb(116, 115, 115);
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: center;

}

nav li {
    box-shadow: 0px 0px 15px black;
    border-radius: 3px;

    margin: 10px;
    padding: 5px;
}

nav {
    margin: auto;
}
